services:
  nginx:
    build:
      context: .
      dockerfile: nginx.Dockerfile
      # Pasa las variables VITE_* como argumentos al Dockerfile durante la construcción.
      args:
        VITE_NODE_ENV: ${NODE_ENV}
        VITE_API_URL: ${VITE_API_URL}
        VITE_SOCKET_URL: ${VITE_SOCKET_URL}
    ports:
      - "80:80"
      - "443:443" # Puerto para HTTPS
    volumes:
      # Montamos la configuración de producción de Nginx
      - ./nginx-prod.conf:/etc/nginx/conf.d/default.conf
      # Compartimos los volúmenes de Certbot con Nginx
      - certbot-conf:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    depends_on:
      backend:
        condition: service_started
    networks:
      - app-network
    restart: unless-stopped

  backend:
    build: ./server
    command: npm start
    environment:
      - DB_HOST=db_mysql
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    env_file:
      - ./.env
    depends_on:
      db_mysql:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped

  db_mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_HOST: "%"
    env_file:
      - ./.env
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mysqladmin ping -h localhost -u root -p$${MYSQL_ROOT_PASSWORD}",
        ]
      interval: 20s
      timeout: 10s
      retries: 10
    networks:
      - app-network
    restart: unless-stopped

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8082:80"
    env_file:
      - ./.env
    environment:
      PMA_HOST: db_mysql
    depends_on:
      - db_mysql
    networks:
      - app-network

  # --- NUEVO SERVICIO CERTBOT ---
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      # Comparte los mismos volúmenes que Nginx
      - certbot-conf:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    # El comando se ejecutará externamente la primera vez.
    # Este comando es para la renovación automática.
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    restart: unless-stopped
    depends_on:
      - nginx

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
  # --- NUEVOS VOLÚMENES PARA CERTBOT ---
  certbot-conf:
  certbot-www:  