version: "3.8"

services:

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: Frontend
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - app-network

  server:
    build: ./server

    container_name: Backend
    restart: on-failure
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db_mysql
      - MYSQL_USER=root
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=projBD
    env_file:
      - ./.env
    depends_on:
      db_mysql:
        condition: service_healthy
    command: sh -c "sleep 10 && npm run dev"
    networks:
      - app-network

  db_mysql:
    image: mysql:8.0
    container_name: meu_mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "1234"
      MYSQL_DATABASE: "projBD"
    env_file:
      - ./.env
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p1234" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - mysql-data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8082:80"
    environment:
      PMA_HOST: db_mysql
    env_file:
      - ./.env
    depends_on:
      - db_mysql
    networks:
      - app-network

# Definición de la red que usarán los servicios para comunicarse entre sí.
networks:
  app-network:
    driver: bridge

volumes:
  mysql-data: # No es necesario definirlo como externo si se crea con este compose
