name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Define project path and repo URL
            PROJECT_PATH="/var/www/html/tr1-type-racer-royale-dam_25_26_tr1g4"
            REPO_URL="https://github.com/${{ github.repository }}.git"
            BRANCH="main"

            rm -rf ${{ secrets.PROJECT_PATH }}
            git clone -b ${{ secrets.BRANCH }} ${{ secrets.REPO_URL }} ${{ secrets.PROJECT_PATH }}
            cd ${{ secrets.PROJECT_PATH }}
            docker compose -f docker-compose.prod.yml up --build -d
